/* https://colorhunt.co/palette/e1f0dad4e7c5bfd8af99bc85 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}
body {
  background-color: #d4e7c5;
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  min-height: 100vh;
}
header {
  background-color: #bfd8af;
  padding: 0.3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 10px 10px 0 rgba(15, 15, 15, 0.2);
}
.cla-do-pe-banner {
  height: 5.6rem;
}
.marcar-amistoso {
  background-color: #e76f51;
  color: white;
  font-size: 1.2rem;
  padding: 0.7rem 1.6rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background-color 0.7s ease;
}
.marcar-amistoso:hover {
  background-color: #f57a15;
}
nav {
  background-color: #d4e7c5;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #99bc85;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
nav li {
  position: relative;
}
nav a {
  color: #003366;
  font-size: 1.2rem;
  font-weight: bolder;
  text-decoration: none;
  padding: 0.6rem;
  transition: color 0.7s ease;
}
nav a::after {
  content: "";
  position: absolute;
  bottom: -0.4rem;
  left: 0;
  width: 0;
  height: 0.3rem;
  background-color: #e76f51; /* Red color */
  transition: width 0.6s ease;
}
nav a:hover::after {
  width: 100%;
}
.material-symbols-outlined {
  top: -20px;
}
.hero-section {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url(arena\ pe\ quebradus\ zoom\ in\ jogadores.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top: 1px solid #99bc85;
  border-bottom: 1px solid #99bc85;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65); /* Dark overlay with transparency */
  z-index: 1;
}
.hero-content {
  position: relative;
  top: 0rem;
  z-index: 2;
}
.hero-content h1 {
  color: #ffffff;
  font-size: 3.9rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.item-menu {
  text-align: center;
  color: #003366;
  font-weight: 900;
  font-size: 4rem;
  font-weight: bolder;
  margin-top: 0.7rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-shadow: -0.1px -0.1px 0 #000, 0.1px -0.1px 0 #000, -0.1px 0.1px 0 #000,
    0.1px 0.1px 0 #000;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.carrosel {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  mask-image: linear-gradient(
    var(--mask-direction, to right),
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
}

.carrosel:hover .carrosel-slide {
  animation-play-state: paused;
}
.carrosel-slide {
  display: inline-block;
  animation: 20s slide infinite linear;
}
.carrosel-slide img {
  height: 25rem;
  margin: 0 3.5rem;
}
.jogadas-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.video-vertical,
.video-horizontal {
  border: 1px solid gray;
  border-radius: 5%;
}
.video-vertical {
  height: 40rem;
  width: auto;
  margin-top: 0.8rem;
}
.video-horizontal {
  width: 80rem;
  height: auto;
  margin-bottom: 0.8rem;
}
.footer-container h1 {
  margin-bottom: 0.8rem;
}
.footer-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #d7f2d7;
}
.form-container {
  background: #d7f2d7;
  padding: 1.2rem;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
}
label {
  margin-bottom: 0.2rem;
  font-weight: bold;
}
input,
textarea {
  margin-bottom: 0.8rem;
  padding: 0.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
}
input:focus,
textarea:focus {
  border-color: #0a5703;
  box-shadow: 0 0 3px rgba(60, 122, 8, 0.5);
}
.send-msg-button {
  background-color: #0a5703;
  color: white;
  border: none;
  padding: 0.6rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.send-msg-button:hover {
  background-color: #46911b;
}
.whatsapp-container {
  grid-column-start: 2;
  text-align: center;
  background: #d7f2d7;
  padding: 1.2rem;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.whatsapp-h2 {
  font-size: 2rem;
  font-weight: bolder;
  color: #0a5703;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-shadow: -0.1px -0.1px 0 #000, 0.1px -0.1px 0 #000, -0.1px 0.1px 0 #000,
    0.1px 0.1px 0 #000;
}
.whatsapp-ico {
  color: #25d366;
  height: 15rem;
  width: auto;
  transition: color 0.6s ease;
}
.whatsapp-button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.whatsapp-ico:hover {
  color: #46911b;
}
.footer-bottom {
  background-color: #bfd8af;
  border-top: 1px solid #99bc85;
  padding: 0.3rem;
  text-align: center;
}
